body {
  font-family: 'Source Sans Pro', sans-serif; }

.clock {
  font-size: 120px;
  font-family: sans-serif;
  text-align: center; }

.analog-clock {
  position: relative;
  margin: 10vh auto;
  width: 40vh;
  height: 40vh;
  max-width: 40vw;
  max-height: 40vw;
  background-color: #9FA8DA;
  border-radius: 50%; }

.analog-clock__hand {
  position: absolute; }
  .analog-clock__hand:before {
    position: absolute;
    height: 50%;
    content: '';
    background: white; }

.analog-clock__hand--hour {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  animation: rotate 43200s infinite linear; }
  .analog-clock__hand--hour:before {
    width: 8px;
    transform: translateX(-4px); }

.analog-clock__hand--minute {
  animation: rotate 3600s infinite linear;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%; }
  .analog-clock__hand--minute:before {
    width: 6px;
    transform: translateX(-3px); }

.analog-clock__hand--second {
  animation: rotate 60s infinite linear;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%; }
  .analog-clock__hand--second:before {
    width: 2px;
    height: 60%;
    background: red;
    transform: translateX(-1px); }
  .analog-clock__hand--second:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5px, -5px);
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }
.owl-carousel img {
  display: block;
  margin: 0 auto; }
.owl-carousel h3 {
  font-size: 3.5em; }
.owl-carousel p {
  font-size: 2em; }

.btn-round {
  border-radius: 2em;
  font-size: 3em;
  padding: 0.5em 1em;
  background-color: #3c6284; }

.options {
  background-color: #fafbfd;
  padding: 300px 0; }

.clock-main {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0; }

.top-section {
  display: flex;
  width: 100%; }

.sec {
  padding: 700px 100px 200px 100px;
  display: table-cell;
  width: 50%; }

.sec-full {
  display: block;
  width: 100%;
  padding: 300px 0; }
  .sec-full .prediction {
    margin-top: 200px; }

.weather-home h1 {
  font-size: 7em;
  font-weight: bold; }
.weather-home h2 {
  font-size: 10em;
  font-weight: 300; }
.weather-home .day {
  font-size: 3em; }

.light-blue {
  background-color: #406b90;
  color: #fafbfd; }

.dark-blue {
  background-color: #3a6080;
  color: #fafbfd; }

.welcome h1 {
  font-size: 6em; }

.prediction {
  margin-top: 100px; }

.location {
  position: absolute;
  padding: 40px; }
  .location .myloc {
    color: #fafbfd;
    font-size: 1.5em; }
    .location .myloc .fa {
      padding-right: 15px; }

.menu .menu-items {
  width: 1200px;
  display: flex;
  margin: 0 auto; }
.menu .box-menu {
  text-align: center;
  width: 400px;
  padding: 50px 100px;
  margin: 200px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fafbfd; }
  .menu .box-menu h2 {
    margin-top: 20px;
    font-size: 3em; }
  .menu .box-menu p {
    font-size: 1.5em;
    font-weight: 300; }
  .menu .box-menu.active {
    padding-bottom: 10px; }
  .menu .box-menu.inactive {
    opacity: 0.4; }

.btn-find {
  background-color: #31cebe; }

.btn-book {
  background-color: #e93d7c; }

.btn-events {
  background-color: #2799e0; }

.alert {
  padding: 20px; }

.top-date {
  padding: 20px 50px; }
  .top-date h2 {
    font-size: 3em;
    font-weight: 300; }
  .top-date h3 {
    font-size: 2em;
    font-weight: 300; }

.top-search {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #fafbfd; }

.filter {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5; }

.search-bar {
  width: 100%;
  display: flex;
  padding: 10px 30px; }
  .search-bar .search-form {
    width: 95%; }
    .search-bar .search-form input {
      background-color: #000000;
      opacity: 0.5;
      height: 50px;
      border: 0;
      color: #fafbfd; }
    .search-bar .search-form .input-group-append {
      background-color: #000000;
      opacity: 0.5; }
      .search-bar .search-form .input-group-append .input-group-text {
        background-color: transparent;
        color: #fafbfd;
        border: 0; }
  .search-bar .filter-con {
    width: 5%;
    text-align: center;
    padding-left: 10px; }

.star-ratings-sprite {
  background: url("images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto; }
  .star-ratings-sprite-rating {
    background: url("images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block; }

.search-results {
  float: right;
  margin-right: 50px; }
  .search-results .result-item {
    width: 400px;
    background-color: #fafbfd;
    color: #3a6080;
    padding: 10px;
    border-radius: 10px;
    margin: 10px; }
    .search-results .result-item.active {
      background-color: #000;
      color: #fafbfd; }

.scroll-menu {
  width: 100%; }
  .scroll-menu .horizontal-menu {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0; }
    .scroll-menu .horizontal-menu li {
      height: 100%;
      display: inline-block;
      font-size: 4em;
      margin: 0 100px; }
      .scroll-menu .horizontal-menu li.active {
        border-bottom: 10px solid #31cebe; }

.main-cont {
  position: relative; }

.top-offers {
  width: 100%;
  top: 300px; }

.offer-con {
  background-color: #406b90;
  padding-top: 200px;
  width: 100%; }
  .offer-con .offers {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap; }
    .offer-con .offers .offer {
      display: inline-block;
      margin: 30px;
      background-color: #fafbfd;
      color: #3a6080;
      padding: 10px;
      white-space: normal;
      border-radius: 10px; }

.bookings {
  background-color: #406b90; }

.choice {
  padding: 50px; }
  .choice a {
    text-decoration: none !important;
    color: #3a6080; }

.info, .info-alt {
  display: block;
  padding: 100px;
  background-color: #fafbfd;
  border-radius: 30px; }
  .info img, .info-alt img {
    max-width: 256px; }
  .info h3, .info-alt h3 {
    margin-top: 40px;
    font-size: 2em; }

.info-alt {
  background-color: #3a6080; }
  .info-alt h3 {
    color: #fafbfd; }

.back {
  background-color: #406b90; }
  .back a {
    color: #fafbfd;
    text-decoration: none;
    padding-left: 30px;
    display: block; }
